html

head
  title= title
h1(align='center') REST Countries v1
font(size='12pt')
  p Capital: #{title}
  p Countru: #{message}
  p Area: #{area} square kilometers
  p Population:  #{population} people
a(href='https://6b1ed78a-fd31-4854-8e46-9ba42d76044b-ide.cs50.xyz') BACK

